table{
	width:70%;
	border-collapse: collapse;

}
tr{
	border-collapse: collapse;
}
td{
	border-collapse: collapse;
	padding: 1%;
	border-right: 1px solid #eaeaea;
	font-family: Verdana, sans-serif;
	font-size:13px;
}
#noborder{
	border-right: none; 
}
#green{
	background-color: #44d32e;
	color:white;
}
.bottom{
	border-bottom: 1px solid #eaeaea;

}
#lightgreen{
	background-color: #f7f7ed;
}
img{
	height: 10px;
	width: 20px;
}