body{
	background-color: #bcbcbc;
}
h1,h2{
	color: #fffdce;
}
.center{
	text-align: center;
}
.whiteVerdana{
	color: white;
	font-family: Verdana, sans-serif;
}
#background{
	background-color: #dddddd;
}
#Times{
	font-family: Times New Roman, sans-serif;
	font-size: 19px;
	text-decoration: underline;
}
#small{
	font-size:13px;
}
